<div class="search-block">
    <div class="search-box text-center">
        <input class="search-title" type="text" placeholder="Search..."/>
        <a>
            <span class="glyphicon glyphicon-search search-button" aria-hidden="true"></span>
        </a>
    </div>
    <div class="search-tag text-center">
        {% for tag in tags %}
            <a tag-name="{{ tag.tag_name }}">{{ tag.tag_name }} ({{ tag.articlestotags_set.count }})</a>
        {% endfor %}
    </div>
    <div id="search-block-container"></div>
</div>