{% extends "layout/adm_base.html" %}

{% block body %}
    <div class="articles-op">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ARTICLE NAME</th>
                    <th>TAGS</th>
                    <th class="text-center">OP</th>
                </tr>
            </thead>
            <tbdoy>
                {% for article in articles %}
                    <tr>
                        <td class="article-title">
                            <a target="_blank" href="{% url 'article' article.aid %}">{{ article.title }}</a>
                        </td>
                        <td>
                            {% for articletotags in article.articlestotags_set.all %}
                                <span class="tags-item">[{{ articletotags.tag.tag_name }}]</span>
                            {% endfor %}
                        </td>
                        <td class="article-op text-center" aid="{{ article.aid }}">
                            <a target="_blank" href="{% url 'article_editor' article.aid %}" class="article-editor">编辑</a>
                            <a class="article-del">删除</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbdoy>
        </table>
    </div>
{% endblock %}