body {
    background-color: #f7f7f7;
}
.header {
    background-color:white;
    border-color: #e7e7e7;
    box-shadow:0 1px 5px rgba(0,0,0,.1);
    left:0;
}
#bs-navbar ul > li > a {
    color:black !important;
    margin:25px 15px !important;
    padding:0 0 !important;
}
#bs-navbar ul > li > a:hover {
    color:#df4f33 !important;
}
.icon-bar {
    background-color:black;
}
#bs-navbar li strong, .search > span{
    cursor:pointer;
}
.post-list{
    padding:0 0.7rem;
}
.post-list-item {
    background-color:#ffffff;
    width:100%;
    min-height:160px;
    padding:18px 4px 5px 20px;
    border-radius:10px;
    margin-bottom:20px;
    box-shadow:0 1px 4px rgba(0,0,0,.04);
    position:relative;
}
.post-list-item:hover {
    /*box-shadow:3px 3px 8px burlywood;*/
}
.title > a {
    color:black;
    font-size:2.2rem;
    cursor:pointer;
}
.content p {
    margin-top:1.2rem;

    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
.content > p {
    color:#999;
}
.datetime {
    color:#999;
}
.tag{
    float:right;
    margin-right:1.9rem;
    font-weight:bold;
    color:#999;
}
.datetime, .tag {
    font-size:1.4rem;
}
.footer {
    width:100%;
    position:absolute;
    bottom:20px;
    padding-right:3.0rem;
}
.search-box {
    margin:4px 0 20px 0;
}
.search-box > input{
    position:absolute;
    left:10%;
    top:0;
    width:82%;
    height:4.2rem;
    font-size:1.8rem;
    border:1px solid rgba(184,197,214,.2);
    border-radius:1.9rem;
    padding:0 4.5rem 0 1.9rem;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
}
.search-block .search-box a{
    color:black;
}
.search-button {
    margin-left:80%;
    margin-top:0;
    cursor:pointer;
    padding:12px;
}
.search-button:hover {
    color:#FA6B6B;
}
.search-tags {
    margin-bottom:1.4rem;
}
.search-tag > a{
    cursor:pointer;
    text-decoration:none;
    color:black;
    padding:0.8rem 1.0rem;
    margin:0.8rem 1.2rem 0.8rem 0;
    border-radius:18px;
    display:inline-block;
    background-color:white;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
}
.search-tag > a:hover {
    color:#eb5055;
}
.active-tag {
    color:white !important;
    background-color:#FA6B6B !important;
}

#search-block-container{
    margin-top:1.5rem;
}
.article-tag{
    margin: 0 0 2.0rem 0;
}
.article-tag span{
    margin: 0 1.0rem;
}