<div class="search-block">
    <div class="search-box text-center">
        <input type="text" placeholder="Search..."/>
        <span class="glyphicon glyphicon-search search-button" aria-hidden="true"></span>
    </div>
    <div class="search-tag text-center">
        <a href="#">Javascript (14)</a>
        <a href="#">PHP (17)</a>
        <a href="#">C (12)</a>
        <a href="#">C++ (18)</a>
        <a href="#">GO (13)</a>
        <a href="#">Nginx (5)</a>
        <a href="#">Python (9)</a>
        <a href="#">Html (17)</a>
        <a href="#">c# (7)</a>
        <a href="#">C++ (18)</a>
        <a href="#">GO (13)</a>
        <a href="#">Nginx (5)</a>
        <a href="#">Python (9)</a>
        <a href="#">Html (17)</a>
    </div>
</div>
