<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-selected.css" rel="stylesheet">
</head>
<body>
    <h1>自制</h1>
    <div class="container">
        <div class="row">
            <form>
                <div class="selected">
                    <button type="button" class="selected-btn btn btn-default">tags <span class="caret"></span></button>
                    <ul class="selected-menu">
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Another action</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
    <h1>bootstrap</h1>
    <div class="container">
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
                <ul class="dropdown-menu" style="width:250px;">
                    <li><a>Action</a></li>
                    <li><a>Another action</a></li>
                    <li><a>Something else here</a></li>
                    <li><a>Separated link</a></li>
                    <li><a>Another action</a></li>
                </ul>
            </div><!-- /btn-group -->
        </div>
    </div>
    <script src="/static/js/jquery-1.12.4.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-selected.js"></script>
</body>
</html>