{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <title>hsjusj blog</title>
        <link href="{% static 'editor.md/css/editormd.min.css' %}" type="text/css" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" type="text/css" rel="stylesheet">
        <link href="{% static 'css/archives.css' %}" type="text/css" rel="stylesheet">
    </head>
    <body>
        <!--导航-->
        <header class="navbar navbar-static-top header navbar-fixed-top">
            <div class="container">
                <!--缩放按钮-->
                <div class="navbar-header">
                    <button id="navbar-button" type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-controls="bs-navbar" data-target="#bs-navbar" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!--菜单-->
                <nav id="bs-navbar" class="collapse navbar-collapse" aria-expanded="false">
                    <ul class="nav navbar-nav navbar-right" style="margin-top:0;margin-bottom:0;">
                        <li>
                            <a id="home" class="home" url="{% url 'blog:home' %}" ><strong>Home</strong></a>
                        </li>
                        <li>
                            <a id="archives" class="archives" url="{% url 'blog:archives' %}"><strong>Archives</strong></a>
                        </li>
                        <li>
                            <a id="about" class="about" url="{% url 'blog:about' %}"><strong>About</strong></a>
                        </li>
                        <li>
                            <a id="search" class="search" url="{% url 'blog:search' %}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!--body-->
        {% csrf_token %}
        <!--mtop：导航栏与body的距离，写进了魔改的bootstrap.css里-->
        <div class="container mtop">
            <div class="row">
                <div id="container" class="col-md-offset-1 col-md-10 col-xs-12">
                {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'js/jquery.cookie.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.pjax.min.js' %}"></script>
        <script src="{% static 'editor.md/lib/marked.min.js' %}"></script>
        <script src="{% static 'editor.md/lib/prettify.min.js' %}"></script>
        <script src="{% static 'editor.md/lib/raphael.min.js' %}"></script>
        <script src="{% static 'editor.md/lib/underscore.min.js' %}"></script>
        <script src="{% static 'editor.md/lib/sequence-diagram.min.js' %}"></script>
        <script src="{% static 'editor.md/lib/flowchart.min.js' %}"></script>
        <script src="{% static 'editor.md/lib/jquery.flowchart.min.js' %}"></script>
        <script src="{% static 'editor.md/editormd.min.js' %}"></script>
        <script src="{% static 'self_js/blog.min.js' %}"></script>
    </body>
</html>