<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th class="text-center">MONEY</th>
            <th class="text-center">TYPE</th>
            <th class="text-center">TIME</th>
        </tr>
    </thead>
    <tbdoy>
        {% for request in requests %}
             <tr>
                <td>{{ forloop.counter }}</td>
                <td class="text-center">{{ request.money }}</td>
                 {% if request.request_type == 1 %}
                     <td class="text-center">借</td>
                 {% elif request.request_type == 2 %}
                     <td class="text-center">还</td>
                 {% endif %}
                <td class="text-center">{{ request.request_datetime|date:"Y-m-d H:i:s" }}</td>
             </tr>
        {% endfor %}
    </tbdoy>
</table>